.mo-back-after {color: #333333 !important;background-color: #dedede !important}
.mo-back-muted {color: #999999 !important;background-color: #2b2a2a !important}
.mo-back-front {color: #333333 !important;background-color: #f8f8f8 !important}
.mo-back-white {color: #999999 !important;background-color: #333333 !important}
.mo-back-click {color: #999999 !important;background-color: #444444 !important}
.mo-back-mojia {color: #ffffff !important;background-color: #d3b270 !important}
.mo-text-muted {color: #666666 !important}
.mo-text-black {color: #999999 !important}
.mo-text-click {color: #28bd98 !important}
.mo-text-mojia, .mo-text-hover:hover {color: #d3b270 !important}
.mo-text-white {color: #666666 !important}
.mo-edge-color, hr {border-color: #2a2a2a !important}
